.assetItem {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    padding: 16px 32px;
    cursor: pointer;
    flex-shrink: 0;
}

.assetItem:hover {
    opacity: 0.8;
}

@media screen and (max-width: 720px) {
    .assetItem {
        padding: 8px 0;
    }
}

.assetItem p {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
}

@media screen and (max-width: 720px) {
    .assetItem p {
        width: 100px;
        text-align: left;
        flex-shrink: 0;
        justify-content: flex-start;
    }
}


.assetItemPercent {
    color: rgba(55, 190, 95, 255)
}

.assetItemPercent_negative {
    color: rgb(190, 55, 55)
}
