.assetItem {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    padding: 8px 32px;
    cursor: pointer;
    flex-shrink: 0;
    height: 50px;
    box-sizing: border-box;
}

.assetItem:hover {
    opacity: 0.8;
}

@media screen and (max-width: 720px) {
    .assetItem {
        padding: 8px 0;
    }
}

.assetItem p {
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    overflow: hidden;
}

@media screen and (max-width: 720px) {
    .assetItem p {
        font-size: 12px;
    }
}


.assetItemPercent {
    color: rgba(55, 190, 95, 255)
}

.assetItemPercent_negative {
    color: rgb(190, 55, 55)
}
