.assetsList {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 32px;
    overflow: auto;
    min-height: 0;
}

.assetsListBody {
    flex-grow: 1;
    overflow: auto;
    flex-direction: column;
    display: flex;
    max-width: 1024px;
}

.assetsListBodyHeading {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    padding: 8px 32px;
    cursor: pointer;
    flex-shrink: 0;
    height: 50px;
    box-sizing: border-box;
}

@media screen and (max-width: 720px) {
    .assetsListBodyHeading {
        padding: 8px 0;
    }
}

.assetsListBodyHeading p {
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    overflow: hidden;
}

@media screen and (max-width: 720px) {
    .assetsListBodyHeading p {
        font-size: 12px;
    }
}